# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Cache and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment directories
venv/
env/
ENV/
.venv/
.pyenv/
.build/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS and system files
.DS_Store
Thumbs.db

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Test results
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Static analysis tools
.mypy_cache/
.pytest_cache/
.pytype/
dmypy.json
.pyre/

# Docker specific files
*.pid
*.env
